Duplication of alternate address info in header unnecessary for Latin script

This may not be a CSS issue; if not, please reroute.
I have tried to explain this many times, and I was under the expression that I was successful, but apparently not:
"ɟ. H̭ildebrand (J. Hildebrand)" and "Čisco Śystems, Inc. (Cisco Systems, Inc.)" in the header look totally silly, not because they are constructed examples, but because they are useless overkill, different from any other serious publisher going back centuries.
Please fix.

Yes, I understand.  The tooling will need to deal with that.  This was just an attempt to get *something* in the example that would cause the CSS to be executed.  Please provide a real example.

How is the tooling supposed to deal with this?  Please provide some guidance.

Well, there are at least two ways to handle this.

One is to give up on ASCII-only equivalents to Latin-only data (author names, organization names,...). That would be my preference, because any well-respected international publication (e.g. journal) has been able to do this for centuries, so there's little reason that the IETF shouldn't be able to do it.

The second alternative is to check the characters against the Unicode script property (potentially updated with a check against the age property), and if all the characters pass that check, treat it in the same way as all-ASCII is treated currently. [these checks can be done in a single regular expression in Ruby; something similar should be available in Python, too.]

As for a real example, what about:
Patrik Fältström (Patrik Faltstrom)

Yes, I understood your request, @duerst, and I'm personally comfortable with it.  What I did not understand was hildjj's response.  It is clearly (to me, at least) a specification issue whether to add the ASCII version for Latin script non-ASCII names or not.  RFC 7992 currently says to do it; what I was asking for was a clarification of "Yes, I understand. The tooling will need to deal with that." which wasn't particularly clear as to accepting or rejecting a tweak to the specification.

I'll go ahead and make the changes to check if the non-ASCII is wholly from a Latin script, and skip the ASCII expansion in that case.

Could you two please clarify what precise sections of the current RFCs we're discussing?

FWIW, <https://www.greenbytes.de/tech/webdav/rfc7997.html#rfc.section.3.2>:

> Person names may appear in several places within an RFC (e.g., the header, Acknowledgements, and References). When a script outside the Unicode Latin blocks [UNICODE-CHART] is used for an individual name, an author-provided, ASCII-only identifier will appear immediately after the non-Latin characters, surrounded by parentheses.

Oh, good.  I think that's exactly what @duerst wanted to get to.

> Oh, good. I think that's exactly what @duerst wanted to get to.

Yes, exactly. So I think what happened was that I reacted to @hildjj's example, which as @reschke has quoted would actually not be according to what RFC 7997 requests. So because this issue is on CSS, it can be closed, but the tooling needs to check for all-Latin names if it doesn't yet do that. Please tell me if (and where) I need to raise and issue for the tooling.

Why does tooling *need* to check for this?

As far as I understand, the current proposal still wants Patrik Fältström (Patrik Faltstrom) in the authors section. That means that we need both Patrik Fältström and Patrik Faltstrom in the data, but need to deal with a case such as Patrik's differently e.g. from 藤原和典 (Kazunori Fujiwara). In the former, only Patrik Fältström goes into the header section, whereas in the later, all of 藤原和典 (Kazunori Fujiwara) goes into the header section. Somewhere in the tooling, this distinction is made by checking the first part against the Unicode script property.

I added checks for non-latin-script codepoints as a trigger to display ascii name in parentheses on to xml2rfc on October 18 after @resche pointed at RFC 7997 Section 3.2.

> As far as I understand, the current proposal still wants Patrik Fältström (Patrik Faltstrom) in the authors section.

Nope.